# Ignore typical Python/Django files
__pycache__
*.pyc
*.pyo
*.pyd
*.db

# Ignore Node.js and npm files (for the React.js client)
node_modules/
npm-debug.log

# Ignore environment and secret files (customize this list as needed)
.env
*.env
*.secret

# Ignore any build or compiled files (for Django and React.js)
*.log
*.sql
*.sqlite3
*.tar.gz
*.zip
*.gz
*.tgz
*.rar
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.swp
*.swo

# Ignore IDE and editor-specific files (customize this list as needed)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.svn/
CVS/
